@charset "UTF-8";

*{margin: 0px; padding: 0px;}
ul{list-style: none;}
img{border: 0; vertical-align: top;}
a{text-decoration: none; color:black;}

body{font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}

.clearFix:after{
  content:"";
  display:block;
  clear:both;
}
#header{
  width:100%; height: 80px;
  margin: 0 auto;
  display: flex;
  position: relative;
  z-index: 5;
  /* background-color: rgba(153, 205, 50, 0.505); */
}
#header .head_logo{
  width: 20%;
  justify-content: left;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 20px;
}
#header .head_logo:hover{
  filter: hue-rotate(180deg);
}
#header .gnb{
  display: flex;
  width: 1100px;
  min-width: 700px;
  justify-content: center;
  text-align: center;
  padding-top: 30px;;
}
#header a{
  font-size: 15pt;
}
#header .gnb>li{
  width: 110px;
  height: 100px;
}
#header .gnb .sub>li{
  display: none;
  line-height: 40px;
}
#header .gnb .sub>li a{
  font-size: 12pt;
}
#header .gnb li:hover .sub li{
  display: block;
  background-color: rgba(153, 205, 50, 0.505);
}
#header .gnb .sub a:hover{
  color: aliceblue;
  border: 1px solid  rgba(153, 205, 50, 0);
}
#header .gnb>li a:hover{
  color:#44dd20;
}
#header .etc{
  width: 20%;
  min-width: 200px;
  padding-top: 10px;
  display: flex; 
  justify-content: right;
  margin-right: 50px;
  margin-top: 20px;
}
#header .etc>li{
  margin-left: 25px;
}

#header .hammenu{
  display: none;
}

/* 섹션 */

#section .sec1{
  width: 100%; height: 800px;
  transition: all 0.2s;
  background-image: url(images/back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: -1;
  transition: all 0.5s;
  display: table;

}
#section .sec1 .main_txt{
  width: 100%; margin: 0 auto; text-align: center;
  font-size: 6vw; color: #44dd20;
  vertical-align: middle;
  display: table-cell;
  /* position: absolute; left: 0; top:50%; */
}
#section .sec2{width: 100%;}
#section .sec2 .sec2_title{
  width: 100%;
  font-size: min(3vw,25pt); text-align: center;
  margin-top: 50px;transition: all 0.5s;
}
#section .sec2 .nav{
  display: flex;  width: 100%;
  text-align: center;
  justify-content: center;
  margin-top: 30px;transition: all 0.5s;
}
#section .sec2 .nav li{
  margin-left: 20px;
}
#section .sec2 .nav li a{
  font-size: min(1.8vw, 20pt);
}
#section .sec2 .nav li a:hover{
  background-color: #43dd2088;
  border-radius: 50%;
}
#section .sec2_congroup{
  display: flex; justify-content: space-around;
  width:100%;
  margin-top: 50px; transition: all 0.5s;
  overflow: hidden;
}
#section .sec2_congroup li{
  display: flex;
  position: relative;
  cursor: pointer;
  transition: all 0.5s;
  width: 20%;overflow: hidden;
}
#section .sec2_congroup li p{
  z-index: 5;
}
#section .sec2_congroup img{
  width: 100%; transition: all 0.3s;
}
#section .sec2_congroup li:nth-child(1) p,
#section .sec2_congroup li:nth-child(2) p,
#section .sec2_congroup li:nth-child(3) p,
#section .sec2_congroup li:last-child p{
  position: absolute;
  font-size: 20pt; font-weight: 600;
  bottom:50%; left:25%; transition: all 0.3s;
  display: none;
}

#section .sec2_congroup li:hover p{
  display: block; color:#fff;
}
#section .sec2_congroup li:hover img{
  transform: scale(1.2);
}
#section .sec2_congroup li:hover:after{
  content: "";
  position: absolute;
  top:0; left:0;
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  }

#section .sec3{
  width: 100%; margin-top: 100px; transition: all 0.8s;
}
#section .sec3 .track{
  height: 50px; width: 100%;
  overflow: hidden;
  position: relative;
}
#section .sec3 .sec3_title{
  display: block;
  width: 200%;height: 30px;
  position: absolute; overflow: hidden;
  background-color: #888; color: #fff;
  animation: marquee 40s linear infinite;
  padding: 10px;
  line-height: 35px;
  font-size: min(3vw,25pt);
}

@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}
#section .sec3 .adgroup{
  display: flex; 
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
}
#section .sec3 .adgroup .ad1 .ad1_con2{display: none;}
#section .sec3 .ad1{
  text-align: center;
  width: 50%;
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
  transition: all 0.8s;
}
#section .sec3 .ad1 img{
  width: 70%; float: right;
  transition: all 0.3s ease-out;
}

#section .sec3 .ad1 p{
  width: 70%;float: right;
  box-sizing: border-box; padding: 10px;
  font-size: 18pt;text-align: center;
  color: #fff; background-color: black;
}

#section .sec3 .ad2_3{
  width: 50%;
}
#section .sec3 .ad2{
  width: 100%;
  margin-top: 50px; margin-left: 30px;
  position: relative;
  float:left;
  overflow: hidden;
}
#section .sec3 .ad3{
  width: 100%; height: 436px; margin-left: 30px;
  overflow: hidden; 
}
#section .sec3 .ad2 img{
  width:70%; margin-top: 40px;
  /* transform: rotate(15deg) scale(2); */
  transition: 0.5s ease-in-out;
}
/* #section .sec3 .ad2 img:hover{
  transform: rotate(0) scale(1);
} */
#section .sec3 .ad3 img{
  width: 70%; margin-top: 10px;
}
#section .button{
  width: 30%; height: 40px; margin: 0 auto;
  border-radius: 10px;line-height: 40px;
  text-align: center;font-size: min(3vw,19pt);
  background-color: #2e589a; color: #fff;
  cursor: pointer; transition: all 0.4s;
}
#section .button:hover{
  background-color: rgb(255, 226, 40); color: black;
}
#section .sec4{
  width: 100%; margin: 0 auto;
}
#section .sec4 .sec4_title{
  width: 100%; margin-bottom: 30px;
  margin-top: 50px; text-align: center;
  font-size: min(3vw,25pt); transition: all 0.5s;
}
#section .sec4_con .backgirl{
  width: 50%;
  background-image: url(images/web_33.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 50%;
  background-position: left;
}
#section .sec4 h3{
  text-align: center; width: 80%;
  margin: 0 auto;
  font-size: min(2vw,18pt); padding: 5px;
  background-color: black; color: #c0f48e;transition: all 0.5s;
}
#section .sec4 .sec4_con{
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
#section .sec4 .sec4_congroup{width: 50%; }
#section .sec4 .sec4_con .prod1{width: 100%;text-align:center}
#section .sec4 .sec4_con .prod1 img{width: 50%;}
#section .sec4 .sec4_con .prod2{width: 100%;text-align:center}
#section .sec4 .sec4_con .prod2 img{width: 50%;}
#section .sec4 .sec4_con .prod3{width: 100%;text-align:center}
#section .sec4 .sec4_con .prod3 img{width: 50%;}
#section .sec4 .sec4_congroup .arrow_u{
  font-size: 30pt; text-align: center;
  margin-top: 20px; cursor: pointer;
}
#section .sec4 .sec4_congroup .arrow_d{
  font-size: 30pt; text-align: center;
  margin-top: 50px;margin-bottom: 50px; cursor: pointer;
}
#section .sec4 .sec4_congroup .txt4{
  display: flex; margin-top: 50px; margin-bottom: 10px;
  justify-content: center;
}
#section .sec4 .sec4_congroup .txt4 .plus{
  border: 1px solid black;
  width: 20px; height: 20px;
  text-align: center;
}
#section .sec4 .sec4_congroup .txt4 .prod_name{
  margin-right: 10px;
}
#section .sec4 .sec4_congroup .txt4 .plus:hover{
  background-color: black; color:#fff;
  cursor: pointer;
}
#section .sec5{
  width: 100%;overflow: hidden;
  /* width: 100%;height: 0; padding-bottom: 71.4%; */
  /* margin: 0 auto; text-align: center; */
  display: flex; flex-wrap: wrap;transition: all 0.8s;
}
#section .sec5 .sec5_img2{
  width: 25%;
  background-image: url(images/web_44.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#section .sec5 .sec5_img3{
  width: 25%;
  background-image: url(images/web_56.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#section .sec5 .sec5_img1 img{width: 100%; transition: all 0.8s;}
#section .sec5 .sec5_img2 img{width: 100%;transition: all 0.8s; }
#section .sec5 .sec5_img3 img{width: 100%;transition: all 0.8s;}
#section .sec5 .sec5_con{
  width: 50%;height:100%;
  box-sizing: border-box;
  border: 10px solid #64ac02;
  padding-top: 30px;position:relative;
  transition: all 0.5s;
}
#section .sec5 .sec5_con h3{
  font-size: min(2vw,18pt); text-align: center;
  margin-bottom: 15px; transition: all 0.5s;
}
#section .sec5 .sec5_con h4{
  font-size:  min(1vw,15pt);
  height: 10%;text-align: center;
  margin-bottom: 10px; transition: all 0.5s;
}
#section .sec5 .sec5_con .sec5_li{
  height: 130px;text-align: center;
  line-height: 30px;
  font-size: min(1vw,12pt);box-sizing: border-box;
}
#section .sec5 .sec5_con p{
  font-size: 15pt; padding: 10px;text-align: center;
  background-color: #64ac02;color: #fff;
  margin: 0 auto;
  transition: all 0.5s;
}
#section .sec5 .sec5_con.sec5_con:hover{
  border-color: black;
}
#section .sec5 .sec5_con.sec5_con:hover p{
  background-color: black; 
  color: #FFF;
}
#footer{
  width: 100%;; padding-bottom: 20px;
  background-color: #515151;
  color: #787878;
}
#footer .footer_gr{
  width: 80%; margin: 0 auto;display: flex;
}
#footer .footer_1{
  margin: 0 auto;
  width: 40%;
  font-size: min(1.5vw, 12pt);
  transition: all 0.5s;
}
#footer .footer_1 img{
  width: 50%; transition: all 0.3s;
  margin-top: 50px;}
#footer .footer_1 .privacy{
  margin-top: 50px;
  display: flex;
  text-align: center;
}
#footer .footer_1 .privacy li{margin: 10px;}
#footer .footer_1 .privacy li a{color:#787878}
#footer .footer_1 address{
  margin-top: 20px; margin-left: 10px;
  font-style: normal;
}
#footer .footer_2{
  width: 20% ;margin: 0 auto;
  font-size: min(1.5vw, 12pt); text-align: center;
  padding-top: 50px;
}
#footer .footer_2 li{
  line-height: 30px;
}
#footer .footer_2 li a{
  color:#787878
}
#footer .footer_3{
  width: 20% ; margin: 0 auto;padding-top: 50px;
  font-size: min(1.5vw, 12pt); text-align: center;
}
#footer .footer_3 li{
  line-height: 30px;
}
#footer .footer_3 li a{
  color:#787878
}
#footer .footer_2 li:first-child,
#footer .footer_3 li:first-child{
  font-size: 2vw; font-weight: bold;
  margin-bottom: 20px;
}

/* 테블릿 */
@media all and (min-width:769px) and (max-width:1024px){
#header{
  width: 100%;position: relative;
}
#header .gnb{
  display: none;
}
#header .head_logo img{
  width: 200px; margin-top:10px;
  cursor: pointer;
}
#header .etc{
  display: none;
}
#header .hammenu{
  display: block; 
  width: 10%;
  text-align: center;
  position:absolute; right:0px;top:35px;
}
#header .hammenu img{
  width: 30px;
  cursor: pointer;
}
#header .hammenu{
  width: 120px;
}
#header .hammenu_sub{
  background-color: rgba(153, 205, 50, 0.9);
  text-align: center;
  width: 300px; height: 500%;
  position: absolute; top: 0px;
  right:-300px;
}
#header .hammenu_sub{
  padding-top: 100px;
  position: fixed;
  /* border: 1px solid red; */
}
#header .hammenu_sub li{
  margin-top: 50px;
  transition: all 0.3s;
  /* border:1px solid green; */
}
#header .hammenu_sub li a:hover{
  color: #fff;
  font-weight: 500;
  font-size: 16pt;
}
#header .x_menu{
  width: 10px; height: 10px;
  position: absolute;
  left: 30px;top:10px;
  z-index: 1000;
  font-size: 3vw; font-weight: 400;
  cursor: pointer;
}
#header .x_menu:hover{
  color:pink;
}


/* 섹션 */
#section .sec1{
  width: 100%; height: 400px;
  background-size: 100%;
}
#section .sec1 .main_img img{
  width: 100%;
}
#section .sec2{
  overflow: hidden;
}
#section .sec2 .sec2_title{
  padding-bottom: 20px;
  margin-top: 20px;
}
#section .sec2 .nav{
  width: 100%; margin: 0 auto;
}
#section .sec2 .nav li:after{
  width: 80%;
  height: 100%;
}
#section .sec2_congroup{
  min-width: 1000px;
}
#section .sec2_congroup>li img{
  width: 210px; min-width: 170px;
}
#section .sec2_congroup>li{
  width: 210px;
}
#section .sec2 .sec2_congroup li>p{
  font-size: 13pt;
}
#section .sec3{
  overflow: hidden;
}
#section .sec3 .track{
  width: 100%;
}
#section .sec3 .track span{
  display: none;
}
#section .sec3 .ad1 img{
  width: 50%; min-width: 406px;
  float: none; 
}
#section .sec3 .ad1 p{
  float:none;margin: 0 auto;
}

#section .sec3 .ad1 .ad1_con1{
  width: 50%; min-width: 406px; text-align: center;
}
#section .sec3 .ad1_con2{
  z-index: -500; width: 70%;
}
#section .sec3 .ad1{
  height: 555px;
}
#section .sec3 .ad2_3{
  display: none;
}
#section .sec4 .sec4_title{
  font-size: min(3vw,15pt);
}
#section .sec4 .sec4_congroup{
  width: 50%;
}
#section .sec4 .sec4_con .girl{
  display: none;
}
#section .sec5{
  width: 100%;
}
#section .sec5 .sec5_img1 img{
  width: 100%;
}
#section .sec5 .sec5_img2{
  width: 50%;
}
#section .sec5 .sec5_img3{display: none;}

#section .sec5 .sec5_con{
  width: 50%;
}
#section .sec5 .sec5_con li{
  font-size: 10pt;
}
#section .sec5 .sec5_con h4{
  font-size: 10pt;margin-left: 10px;
  margin-right: 10px;
}
#section .sec5 .sec5_con p{
  font-size: 13pt;
}

#footer .footer_1{
  width: 100%;
  font-size: 15px;
}
#footer .footer_1 img{
  width: 30%;
}
#footer .footer_2{
  display: none;
}
#footer .footer_3{
  display: none;
}
}
/* -----모바일---- */
@media all and (max-width: 768px){
  #header{
    width: 100%;position: relative;
  }
  #header .gnb{
    display: none;
  }
  #header .head_logo img{
    width: 200px; margin-top:10px;
    cursor: pointer;
  }
  #header .etc{
    display: none;
  }
  #header .hammenu{
    display: block; 
    width: 10%;
    text-align: center;
    position:absolute; right:0px;top:35px;
  }
  #header .hammenu img{
    width: 20px;
    cursor: pointer;
  }
  #header .hammenu{
    width: 10%;
  }
  #header .hammenu_sub{
    background-color: rgba(153, 205, 50, 0.9);
    text-align: center;
    width: 300px; height: 500%;
    position: absolute; top: 0px;
    right:-300px;
  }
  #header .hammenu_sub{
    padding-top: 100px;
    position: fixed;
    /* border: 1px solid red; */
  }
  #header .hammenu_sub li{
    margin-top: 50px;
    transition: all 0.3s;
    /* border:1px solid green; */
  }
  #header .hammenu_sub li a:hover{
    color: #fff;
    font-weight: 500;
    font-size: 16pt;
  }
  #header .x_menu{
    width: 10px; height: 10px;
    position: absolute;
    left: 30px;top:10px;
    z-index: 1000;
    font-size: 4vw; font-weight: 400;
    cursor: pointer;
  }
  #header .x_menu:hover{
    color:pink;
  }
  #section .sec1{
    width: 100%; height: 200px; margin: 0 auto;
    background-size: 100%;
  }
  #section .sec1 .main_img img{
    width: 100%;
  }
  #section .sec2 .sec2_title{
    margin-top: 20px;
  }
  #section .sec2 .nav{
    width: 100%; margin: 0 auto;
  }
  #section .sec2_congroup{
    width: 100%; margin-bottom: 50px;
  }
  #section .sec2_congroup>li img{
    width: 100%;
  }
  #section .sec2_congroup>li{
    width: 40%;
  }
  #section .sec2_congroup>li:last-child{
    display: none;
  }
  #section .sec2_congroup>li:nth-child(3){
    display: none;
  }
  #section .sec2 .sec2_congroup li>p{
    font-size: 10pt;
    /* position: absolute;
    top:50%;left:50%; */
  }
  #section .sec3{
    width: 100%;margin: 0 auto;text-align: center;
    position: relative;
    overflow: hidden;
  }
  #section .sec3 .ad1{
    width:100%;text-align: center;margin: 0 auto;
  }
  #section .sec3 .ad1 img{
    width: 100%; height: 200px; object-fit: cover; 
    object-position: center top;
    text-align: center;
    margin: 50px 0px;

  }
  #section .sec3 .ad1_con1{
    display: none;
  }
  #section .sec3 .button{
    z-index: 50;
  }
  #section .sec3 .ad1 img:hover{
    transform: none;
  }
  #section .sec3 .ad2_3{
    display: none;
  }

  #section .sec4 .backgirl{
    display: none;
  }

  #section .sec4 h3{
    width: 100%;
  }
  #section .sec4 .sec4_congroup{
    width: 100%;
  }
  #section .sec5{
    width: 100%;
  }
  #section .sec5 .sec5_img1 img{
    width: 100%;
  }
  #section .sec5 .sec5_img2{
    display: none;
  }
  #section .sec5 .sec5_img3{display: none;}
  
  #section .sec5 .sec5_con{
    width: 100%;
  }
  #section .sec5 .sec5_con h3{
    font-size: 20pt;
    margin-top: -20px;
  }
  #section .sec5 .sec5_con h4{
    font-size: 10pt;
    margin: 0px 10px;
  }
  #section .sec5 .sec5_con .sec5_li{
    font-size:10pt; height: 120px;
    /* border: 1px solid red; */
  }
  #section .sec5 .sec5_con p{
  font-size: 10pt;
  }
  #footer .footer_1{
    width: 100%;
    font-size: 9pt;
  }
  #footer .footer_1 .privacy{
    margin-top: 10px;
  }
  #footer .footer_1 img{
    width: 40%;
  }
  #footer .footer_2{
    display: none;
  }
  #footer .footer_3{
    display: none;
  }
}










